body {
    background-color:rgb(148, 148, 209);
  
  }
  
  form {
    position: relative;
    top: 250px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    font-family: roboto, sans-serif;
  }
  
  
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  button[type="submit"],
  input[type="submit"] {
    background: #6CB8EF;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 10px;
    font-weight: 550;
    font-size: 16px;
    letter-spacing: 4px;
  }
  
  button[type="submit"]:hover,
  input[type="submit"]:hover {
    background: #6CB8EF;
  }
  
  button[type="submit"]:active,
  input[type="button"]:active,
  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  input:disabled {
    opacity: 0.4;
  }
  
  input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  button[type="submit"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
  }
  
  
  
  
  p {
    color: #6CB8EF;
  }
  
  p::before {
    display: inline;
    content: "⚠ ";
  }
  
  h4 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFFFFF;
  }
  
  
  a {
    color: #6CB8EF;
  }
  
  