

    @media (max-width:700px){
        .changeble_size{
            height: 700px;
        }

    }
    .item_thumbnail{
        height: 250px;
        width: 300px;
        border-radius: 5px;
        margin-right: 30px;
    }
    @media (max-width:1100px){
        .Sp_wrapper{
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
    .Sp_wrapper{

        display: flex;
        align-items: center;
        justify-content: center;
    }

.header_wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.about_wrapper{
    padding-top: 80px;
    padding-bottom: 80px;
}
.content{
    color: black;
    list-style: none;
    text-indent: 30px;
}
.content_wrapper{
    padding-left: 40px;
    padding-right: 40px;
}
.li_wrapper{
    margin-top: 20px;
}
.li_content{
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-center{
    text-align: center;
    
}
.img_l{
    
    width: 70%;
    height: 70%;
    margin-top:30px;
    margin-bottom: 20px;
}
.ref_cont{
    text-decoration: none;
    color: blue;
}
.item_detail{
    font-size: 18px;
    background-color: rgba(128, 128, 128, 0.057);
    padding: 10px;
    margin-bottom: 5px;
}
.item_in{
    display: flex;
}
.item_wrapper{
    display: flex;
    padding-left: 5px;
    padding-right: 60px;
}
.all_wrapper{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 50px;
}
.dash{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.an{
    width: 99%;
    height: 400px;
    background-color: #000;
}
.description_wrapper{
    width: 70%;
    margin-top: 50px;
    font-size: 24px;
}

.Speedometer{
   
    color: #000;
    font-weight: bold;
    margin-left: 60px;
    margin-right: 60px;
    
    font-size: 18px;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.13);
    padding: 20px;
    height: 250px;
    border-radius: 20px;
}




@import url("https://fonts.googleapis.com/css?family=Lato");


#app {
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  margin: 15px;
  background-color: white;
}

.tab {
  width: 100%;
  padding: 25px;
  font-family: sans-serif;
  color: #444;
}

ul.inline {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

ul.inline,
li {
  display: inline-block;
  margin-left: 0;
  padding: 10px;
  border-bottom: 2px solid #eee;
  transition: all 0.5s;
  font-family: Lato, sans-serif;
  font-weight: 300;
  cursor: pointer;
  color: #aaa;
}

ul.inline,
li.selected {
  border-bottom: 2px solid #337ab7;
  color: #444;
}
.weather_items{
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    
}
.weather_img{
    height: 130px;
    width: 130px;
    margin-top: -15px;
    
}
.wether_tf{
    
    font-size: 90px;
    font-weight: 300;
}
.wether_tc{
   
    font-size: 40px;
    font-weight: 300;
}
.weather_stat{
    color: grey;
    margin-left: 20px;
    margin-bottom: -35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    font-weight: 300;
    font-size: 18px;
    
}
.all_stats_wrapper{
  
    height: 300px;
    padding: 0;
    margin: 0;
    justify-content: start;
    align-items: center;
   
    
}
.weater_locations{
    width: 100%;
    margin-top: -20px;
    float: left;
    color: grey;
    font-weight: 300;
    font-size: 18px;
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: flex-end
   ;
   
}
.red {
    float: left;
    height: 250px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.green{
   
    float: left;
    height: 250px;
    width: 190px;
   
    display: flex;
    justify-content: center;
    
}
.black{
    
  width: 100%;
    float: left;
    height: 270px;
    width: 400px;
    
    display: flex;
    justify-content: center;
   
    flex-direction: column;

}